    body {
        overflow-y: visible;
        overflow-x: hidden; 
        padding: 0;
        margin: 0;
        background-color:rgb(27,172,145);
    }

    #video {
        /*width: 100%;*/
        height: 1010px;
    }

    .x9 {
        /*  position: absolute;
            top:0;
            left:400px;  */
        position: relative;
        top: -400px;
        left: 450px;
        border: 2px solid red;
        width: 200px;
    }


    /*  .jumbotrom .jumbo{
            position: absolute;
            top:0;
            right: : 100;
            height: 800px
        }
    */

    .navbar .container-fluid {
        background: none;
    }

    .btn-danger a:hover {


        color: #fff;
        text-decoration: none;
    }

    .navbar {
        background: none;
        background-color: none;
        bottom: 900px;
        margin: 0;
        z-index: 99;
        border: none;
    }

    .navbar-default .navbar-brand {
        color: white;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
        opacity: 1;
    }




    .navbar .navbar-default {
        /*border: 2px solid red;*/

        background: transparent;
        background-color: transparent;
    }

    #myNavbar {
        background: transparent;
        background-color: transparent;
        padding-right: 0;
    }

    #myNavbar ul {
        margin-top: 0px;
    }


    .navbar-nav>li:nth-child(n) {
        /*font-family: "Raleway", sans-serif;*/
        /*font-family: 'Righteous', cursive;*/
        /*font-family: "Roboto", sans-serif;*/

        padding-right: 20px;
        display: block;
        font-weight: 700;
        font-style: normal;
    }


    .navbar-nav>li:nth-child(n) a {
        /* font-family: "Raleway", sans-serif;*/
        /*font-family: 'Righteous', cursive;*/
        /*font-family: "Roboto", sans-serif;*/
        /*font-family: "Times New Roman", Times, serif;*/

        font-family: Lucida Bright, Georgia, serif;
        display: inline-block;
        color: #fff;
        font-weight: 700;
        font-size: 12px;
        display: block;
        opacity: 1;
    }

    .navbar-nav>li:nth-child(n) a i {
        margin-right: 5px;
    }


    .navbar-nav>li:nth-child(n):hover a {
        font-family: Lucida Bright, Georgia, serif;
        color: white;
        font-size: 12px;
        opacity: 0.6;
        text-decoration: none;
    }

    .contact_input .button11 {
        background-color: rgb(38,200,170);
        color: white;    
        border: none;
        /*text-transform: uppercase;    */
        margin-top: -10px;
        width:200px;
        cursor: pointer;
    }

    .contact_input .button11 a {
        font-size: 18px;
        color: white;
        text-align: center;
        vertical-align: middle;
        font-weight: 700;
        text-decoration: none;
        opacity: 1;
    }

    .contact_input .button11:hover {

        color: white;
        background-color: darkslategray;
        opacity: 1;
    }


    .heading p {

        opacity: 0.8;
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 30px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }

    .navbar-collapse {

        border: 0;
    }

    .w3-panel {

        position: relative;
        top: -620px;
        /*bottom:-420px;*/
    }


    .w3-panel .x p {
        font-size: 32px;
        color: white;
    }


    body {
        /*background-color: green;*/
    }


    #contact-form {
        position: relative;
        z-index: 999;
    }

    #contact-form input[type=text],
    .contactForm textarea {
        background: rgba(227, 231, 228, 1);
        font-family: 'Open Sans', sans serif;
        border: 0;
        font-size: 16px;
        text-align: left;
        vertical-align: middle;
    }

    .contactForm textarea {
        height: 156px;
    }

    #contact-form input[type=text]:focus,
    .contactForm textarea:focus {
        background: #fff;
        color: #555;
        box-shadow: none;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        transition: background 0.25 ease-in;
        -moz-transition: background 0.25 ease-in;
        -webkit-transition: background 0.25 ease-in;
    }

    #contact-form input[type=text] {
        height: 60px;
        margin-bottom: 30px;
    }

    #contact-form input[type=submit] {
        color: #fff;
        width: 185px;
        height: 60px;
        text-shadow: none;
        font-size: 16px;
        padding: 0.5em;
        letter-spacing: 0.05em;
        margin: 8px 0 20px 0;
        display: block;
        border: 0;
        text-transform: none;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }


    #contact-form input[type=submit]:hover,
    #contact-form input[type=submit]:active {
        background: #43413e !important;
        cursor: pointer;
    }
    #contact {
        background-color: rgb(27, 172, 145);
    }

    #contact_inputs {

        padding-top: 0;

        margin-top: -100px;
        margin-bottom: 30px;
    }

    #contact h4 {
        font-size: 48px;
        margin-bottom: 50px;
        color: white;
        font-weight: bold;
        padding-top: -10px;
    }



    #contact p {
        color: #fff;
        text-align: justify;
        font-weight: lighter;
        opacity: 0.7;
    }

    .button11:link,
    .button11:visited {
        color: #fff;
    }
    .button11 {
        background-color: rgb(38, 200, 170);
        opacity: 1;
        margin-top: 30px;
        border-radius: 3px;
    }

    .button11:hover {
        background-color: #ccc;
        opacity: 1;
    }

    .contact_input {
        margin-bottom: 30px;
    }


    .contact_input input{
        height: 60px;
    }

    .contact_input textarea{
        height: 160px;
    }


    @media only screen and (min-width:1200px) {
        .button1 {
            position: absolute;
            top: 261px;
        }
    }


    @media(min-width:768px) and (max-width: 991px) {


        .navbar-nav>li:nth-child(n) {

            margin-left: -30px;
            display: block;
            font-weight: 700;
            font-style: normal;
        }

            .button11{
            position: relative;left: 250px;
        }

        #contact h4{
            margin-top: 150px;
        }


        body{
            overflow-x: hidden;
        }
        .container-fluid{
         overflow-y: hidden;   
        }

        #contact{
         
            padding-right: 0;
            margin-right: 0;
            width: 100%;
        }


    }

    @media only screen and (max-width:767px) {
        /*
            #contact h4{
                margin-top: 150px;
                font-size: 36px;
            }*/

        .navbar-collapse {
            overflow-x: hidden;
        }

        .navbar-nav>li:nth-child(n) {
            background-color: rgb(38, 200, 170);
        }

        .navbar-nav>li:nth-child(n) a {
            color: #fff;
        }

        .navbar-nav>li:nth-child(n) a i {
            display: none;
        }

        .navbar-nav>li:nth-child(n):hover {
            background-color: white;
        }

        .navbar-nav>li:nth-child(n):hover a {
            color: black;
        }

        #cv {
            font-size: 44px;
            color: white;
        }
    }

        


    @media(max-width: 450px) {

        body{
            overflow:hidden;
        }

           .button11{
            position: relative;left: 70px;
        }

        .contact_inputs{
            margin-top: -200px;
        }

        #contact h4{
            margin-top: 80px;
            padding-top: -100px;
        }


        
    }